
Front/node_modules/electron/dist/electron.exe

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
.Front/.idea
.Back/.idea
.Front/*.iml
.Back/*.iml
