<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de ventas</title>
    <meta name="description" content="Módulo de Ventas del ERP">
    <link rel="stylesheet" href="../assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/styles.css">
    <script src="https://kit.fontawesome.com/5a795d2b95.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">  
            
            <div class="navegation col-12 justify-content-center">
                <nav class="navbar navbar-expand-md navbar-dark myNavbar">
                    <a class="navbar-brand" href="../index.html"> <img src="../resources/logoTemporal.png" alt="" class="w-50"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse pr-5" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="clients.html">Clientes</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="suppliers.html">Proveedores</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="products.html">Productos</a>
                        </li>
                      </ul>
                    </div>
                </nav>
                <section class="row">
                  <div class="aside col-3 my-5">
                    <h1 class="h1main">HISTORIAL DE VENTAS</h1>
                    <ul>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                      <a href=""><li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li></a>
                    </ul>
                    <a href="" class="btn2 justify-content-center align-items-center">Ver todo</a>
                  </div>
                  <div class="mainBlock col-9 my-5">
                    <h1 class="h1main my-2 mb-5">ACCIONES EN VENTAS</h1>
                    <div class="row">
                      <div class="col-4">
                        <div class="card" style="width: auto; height: auto;">
                          <div class="card-body">
                            <h3 class="card-title text-center">Cliente</h3>
                            <p class="card-text text-center"><b>Nombre:</b> Nombre cliente</p>
                            <p class="card-text text-center"><b>DNI:</b> DNI cliente</p>
                            <p class="card-text text-center"><b>Dirección:</b> Dirección cliente</p>
                            <p class="card-text text-center"><b>Teléfono:</b> teléfono cliente</p>
                            <p class="card-text text-center"><b>IBAN:</b> IBAN cliente</p>
                            <p class="card-text text-center"><b>Email:</b> Email cliente</p>                           
                          </div>
                          <a href="#" class="btn btn-dark w-auto">Ir al cliente</a>
                        </div>
                      </div>
                      <div class="col-8 my-3 row justify-content-center">
                        <p>
                          <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Factura
                          </a>
                          <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Productos
                          </a>
                          <a class="btn btn-dark" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Personal
                          </a>
                          <a href="salesOperation.html" class="btn btn2" role="button" id="btnSellOperations">Operaciones de ventas</a>
                        </p>
                        <div class="row">
                          <div class="col">
                            <div class="collapse show" id="multiCollapseExample1">
                          
                                <div class="card card-body text-center" >
                                  <h3 class="h1main py-3">FACTURA</h3>
                                  <p class="lead"><b>Descuento </b> 15%</p>
                                  <p class="lead"><b>Subtotal </b> 550</p>
                                  <p class="lead"><b>IVA </b> 21%</p>
                                  <p class="lead"><b>Total </b> 700</p>
                                  <hr class="my-4">
                                  <p>A fecha de [introducir fecha] expedido por [Nombre Empresa]</p>
                                  <a class="btn btn-dark btn-lg my-n2" href="#" role="button">Ir a la factura</a>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="collapse show" id="multiCollapseExample2">
                              <div class="card card-body">
                                <h3 class="h1main py-3">PRODUCTOS</h3>
                                <table class="table table-dark">
                                  <thead>
                                    <tr>
                                      <th scope="col">Nombre</th>
                                      <th scope="col">Descripción</th>
                                      <th scope="col">PVP</th>
                                      <th scope="col">Cantidad</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Samsung Galaxy S3</th>
                                      <td>Smartphone</td>
                                      <td>365,90</td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">One Plus 6T</th>
                                      <td>Smartphone</td>
                                      <td>659,90</td>
                                      <td>1</td>
                                    </tr>
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="collapse show" id="multiCollapseExample3">
                              <div class="card card-body text-center">
                                  <h3 class="h1main py-3">PERSONAL</h3>
                                  <p class="lead"><b>ID: </b> 3</p>
                                  <p class="lead"><b>Nombre y Apellidos: </b> Marcos Du Santos</p>
                                  <p class="lead"><b>Fecha Venta: </b> [fecha timestamps]</p>
                                  <p class="lead"><b>Email: </b> emailfalso@gmail.com</p>
                                  <a class="btn btn-dark btn-lg my-n2" href="">Ir a ficha</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class=" footer row">
                    <div class="pull-left col-12">
                      <p class="text-center">Copyright &copy;2020 by Entertaiment</p>
                  </div>
                  </div>

                </section>
    </div>
    <script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.bundle.js"></script>

</body>
</html>