<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal del ERP</title>
    <link rel="stylesheet" href="../assets/bootstrap-4.5.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark myNavbar">
            <a class="navbar-brand" href="../index.html">
                <img src="../resources/logoTemporal.png" alt="" class="w-50" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pr-5" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio </a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="clients.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="suppliers.html">Proveedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">Productos</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="row">
            <div class="aside col-3 my-5">
                <h1 class="h1main">HISTORIAL DE PERSONAL</h1>
                <ul>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                    <a href="">
                        <li><i class="fas fa-clipboard mr-2"></i>Lorem ipsum dolor sit amet consectetur</li>
                    </a>
                </ul>
                <a href="" class="btn2 justify-content-center align-items-center">Ver todo</a>
            </div>
            <div class="mainBlock col-9 my-5">
                <h1 class="h1main my-2 mb-5">ACCIONES EN PERSONAL</h1>
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="width: auto; height: auto;">
                            <div class="card-body">
                                <h3 class="card-title text-center">Personal</h3>
                                <p class="card-text text-center"><b>Nombre:</b> Nombre personal</p>
                                <p class="card-text text-center"><b>Email:</b> email personal</p>
                                <p class="card-text text-center"><b>Nombre puesto:</b> puesto personal</p>
                                <p class="card-text text-center"><b>Sección:</b> sección personal</p>
                                <p class="card-text text-center"><b>Privilegio:</b> privilegio personal</p>
                                <p class="card-text text-center"><b>Password:</b> *********</p>
                            </div>
                            <a href="#" class="btn btn-dark w-auto">Ir al personal</a>
                        </div>
                    </div>
                    <div class="col-8 my-3 row justify-content-center">
                        <p>
                            <a class="btn btn-dark" data-toggle="collapse" href="#CollapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Añadir Personal
                        </a>
                            <a class="btn btn-dark" data-toggle="collapse" href="#CollapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Modificar Personal
                        </a>
                            <a class="btn btn-dark" data-toggle="collapse" href="#CollapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Borrar Personal
                        </a>
                            <a class="btn btn-dark" data-toggle="collapse" href="#CollapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Agregar Puesto
                          </a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse" id="CollapseExample">
                                    <form class="my-4 ml-2">
                                        <div class="form-row">
                                            <div class="form-group col-6">
                                                <label for="personalEmail" class="text-white text-center">Email del personal</label>
                                                <input type="text" class="form-control" id="personalEmail">
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="personalName" class="text-white text-center">Nombre completo</label>
                                                <input type="text" class="form-control" id="personalName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="personalPassword" class="text-white text-center">Password</label>
                                            <input type="password" class="form-control" id="personalPassword" placeholder="******">
                                        </div>
                                        <div class="form-group">
                                            <label for="positionStaff" class="text-center text-white">Nombre del Puesto</label>
                                            <input type="text" class="form-control" id="positionStaff" placeholder="Programador">
                                        </div>
                                        <div class="buttons row justify-content-around">
                                            <button type="submit" class="btn btn2 col-4">Agregar Personal</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse" id="CollapseExample4">
                                        <form>
                                            <div class="form-row text-white">
                                                <div class="form-group col-4">
                                                    <label for="inputEmail4">Nombre Puesto</label>
                                                    <input type="PositionStaffName" class="form-control" id="PositionStaffName" placeholder="Puesto">
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="sectionPositionStaff">Sección</label>
                                                    <input type="text" class="form-control" id="sectionPositionStaff">
                                                </div>
                                                <div class="form-group col-4">
                                                    <label for="sectionPositionStaff">Privilegio</label>
                                                    <input type="number" class="form-control" id="sectionPositionStaff" placeholder="[0,1,2,3,4]">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn1">Añadir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="collapse" id="CollapseExample2">
                                        <form class="my-4 ml-2">
                                            <div class="form-row">
                                                <div class="form-group col-6">
                                                    <label for="personalEmail" class="text-white text-center">Email del personal</label>
                                                    <input type="text" class="form-control" id="personalEmail">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="personalName" class="text-white text-center">Nombre completo</label>
                                                    <input type="text" class="form-control" id="personalName">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="personalPassword" class="text-white text-center">Password</label>
                                                <input type="password" class="form-control" id="personalPassword" placeholder="******">
                                            </div>
                                            <div class="form-group">
                                                <label for="positionStaff" class="text-center text-white">Nombre del Puesto</label>
                                                <input type="text" class="form-control" id="positionStaff" placeholder="Programador">
                                            </div>
                                            <a href="" class="btn btn-dark" type="submit">Modificar Personal</a>

                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse my-3" id="CollapseExample3">
                                            <form class="form-inline my-2 my-lg-0">
                                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                                                <button class="btn btn1" type="submit">Buscar</button>
                                            </form>
                                            <table class="table table-dark my-4">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Puesto</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Mark</td>
                                                        <td>Otto@gmail.com</td>
                                                        <td>Programador Junior</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <a href="" class="btn btn2 text-center">Borrar</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

        </section>
        </div>

        <script src="../assets/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

</html>